# Checks that will be implemented in future PRs:
# performance-unnecessary-value-param, hints to ~110 issues. Be careful with implementing the suggested changes of this one, as auto-fixes may break the code

FormatStyle: file

Checks: '
-*,
google-*,
-google-runtime-references,
llvm-include-order,
llvm-namespace-comment,
misc-throw-by-value-catch-by-reference,
modernize*,
-modernize-use-trailing-return-type,
readability-container-size-empty,
'

WarningsAsErrors: '*'

HeaderFilterRegex: '.*hpp'

CheckOptions:
- key:             google-readability-braces-around-statements.ShortStatementLines
  value:           '3'
