set noparent
linelength=120  # As in .clang-format

# Non-used filters
filter=-whitespace/parens,-whitespace/braces  # Conflict with clang-format
filter=-readability/nolint  # Conficts with clang-tidy
filter=-whitespace/blank_line  # Unnecessarily strict with blank lines that otherwise help with readability
filter=-runtime/references  # Requires fundamental change of API, don't see need for this

# Filters to be included in future
filter=-whitespace/indent,-whitespace/comments,-readability/braces,-build/include_what_you_use
filter=-legal/copyright  # Remove this line after Version 1.9

# To be discussed
filter=-build/include_order

